c6/* Reset some default styles */
body, h1, h2, h3, p, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.first-main-box {
    text-align: center;
    padding: 50px 0;
    background-image: linear-gradient(red,blue,yellow);
}
.word {
    font-size: 24px;
    color: white;
}

.word span {
    color: #ff6347; /* Or any other color you prefer */
}

.h3 {
    font-size: 28px;
    margin: 20px 0;
   color: white ;
}

.search-engine {
    display: flex;
    justify-content: center;
}

.text1 {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#button {
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.second-main-box {
    display: flex;
    background-color: #1ba0e2;
    margin: 0 0;

}

.first-box1 {
    text-align: center;
    padding: 20px;
    width: 100%;
    border-radius: 50px;
    
}

h4 {
    font-size: 20px;
}

h4 span {
    color: #ff6347; /* Or any other color you prefer */
}

.second-box2 {
    margin-top: 20px;
    background-color: white;
    padding-top: 20px;
    border-radius: 20px;
    margin-right:5px;
    margin-left:300px;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 60%;
    

}

.paragraph {
    font-size: 18px;
    font-weight: bold;
}


.near {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 15px;
    background-color: white;
    border-radius: 15px;
}

.second-box2 {
    color: black;
}

.second-box2 iframe

/* .box-sizing{
    max-width: 100px;
} */

.box-sizing p {
    width: 100%;
    font-size: 20px;

}   

.third-box3 {
   display: flex;
    margin-right: 15px; /* Add space between each link */
    text-decoration: none;
    color: white;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    background-color: white;
}

.third-box3 a {
    color:blue;
}

.third-box3 a i {
    display: flex;
    margin-right: 8px; 
}


.third-box3 i {
    margin-right: 8px; 
}

img {
    width: 200px;
    margin-bottom: 10px;
    
}

/* Media Query for small screens */
@media  screen and  (max-width: 600px) {
    * {
        flex-direction: column;
    }
}
