@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #04125b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
body{
    background-color:#cdd0d6;
  }
  
  h1{
    font-family:Roboto;
    font-size:35px;
    font-weight:bold;
    text-align:center;
    margin-top:90px;
    margin-bottom:20px;
  }
  
  #feedback-form{
    background-color:#FFFFFF;
    font-family:Quicksand;
    max-width:70%;
    margin:auto;
    padding:0;
    border-radius:15px;
  }
  
  #description{
    text-align:center;
    font-size:16px; 
    padding-top:17px;
    font-weight:bold;
  }
  
  .fieldset{
    border-width:0;
    padding-top:1%;
    
  }
  
  .sub-group{
    position:relative;
    right:30px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding:1%;
  }
  
  label.left{
    width:30%;
    padding-right:4%;
    text-align:right;
  }
  
  
  .right{
    width:30%;
  }
  
  .input-field{
    height:20px;
    padding:5px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
  }
  
  .checkbox{
    position:relative;
    padding:3px;
    right:3px;
    bottom:15px;
  }
  
  .radio{
    position:relative;
    padding:3px;
    bottom:15px;
  }
  
  h2{
    position:relative;
    bottom:8px;
    font-size:16px;
    text-align:center;
    font-weight:bold;
  }
  
  .commentbox{ 
    text-align:center;
  }
  
  textarea{
    width:65%;
    border-radius:4px; 
  }
  
  #submit{
    background: #cdd0d6;
    font-family:Roboto;
    border-radius:4px;
    width: 10%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
  }
  
  label:hover{
    cursor:pointer;
  }
  
  @media (max-width: 800px) {
    body {
      font-size: 12px;
    }
  }
  
  @media (max-width: 580px) {
    body {
      font-size: 9px;
    }
  }