* {
    margin : 0;
    padding: 0;
}

.first-main-box {
    background-color: red;
}

.word {
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.word span {
    color:rgba(225, 92, 44, 0.779);
}